body {
  font-family: 'helvetica neue', sans-serif;
  font-size: 50px;
  font-weight: 100;
  width: auto;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #39a712;
}

p {
  line-height: 500px;
}